<app-navbar-user></app-navbar-user>

<div class="container">
  <header id="header">
    <h1 class="text-center">Sign Up</h1>
  </header>
  <section id="main">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form class="well" id="login" action="index.html">

          <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" placeholder="Enter Username">
          </div>
          
          <div class="form-group">
            <label>Email Address</label>
            <input class="form-control" type="text" placeholder="Enter Email">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" placeholder="Enter Password">
          </div>

          <button class="btn btn-default btn-block" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </section>
</div>




