<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h4>CONTACT US</h4>
        <ul class="list-unstyled">
          <li>BY TELEPHONE</li>
          <li>BY EMAIL</li>
          <li>LOGIN / REGISTER</li>
          <li>PRESS</li>
          <li>REPORT A BUG</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>WHY SHOP WITH US</h4>
        <ul class="list-unstyled">
          <li>SATISFACTION GUARANTEE</li>
          <li>100% AUTHENTIC WATCHES</li>
          <li>100% PRICE MATCH GUARANTEE</li>
          <li>FREE STANDARD SHIPPING</li>
          <li>INTERNATIONAL SHIPPING</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Customer Service</h4>
        <dl class="dl-horizontal">
          <dt>Call Us</dt>
          <dd>877-834-1434</dd>
          <dt>Hours</dt>
          <dd>Mon–Thu 9am–6pm <br> Fri 9am–3pm</dd>
          <dt>Address</dt>
          <dd>Brooklyn Army Terminal » 140 58th Street Suite 3B Brooklyn, NY 11220</dd>
        </dl>
      </div>
    </div>
  </div>
</footer>